<div class="list" [class.list_padded]="!data.children">
  <input type="checkbox" class="check" *ngIf="data.children">
  {{ data.title }}
  <div *ngIf="data.children" class="list__children">
    <app-list-item *ngFor="let item of data.children" [data]="item"></app-list-item>
  </div>
</div>
